.header {
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(62,113,129,1) 0%, rgba(74,99,126,1) 35%, rgba(50,128,152,1) 100%);

  
  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .name {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     padding: 10px 50px 10px 0px;
     text-decoration: none;
     color: white;
     cursor: pointer;
     font-size: large;
     background: linear-gradient(to right, black, black 50%, white 50%);
     transition: background-position 5s ease;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-size: 200% 100%;
     background-position: 100%;
     
     &:hover {
       background-position: 0 100%;
     }
    }

    .option-item {
      padding: 10px 15px;
      cursor: pointer;
      text-decoration: none;
      color: white;

      &:hover {
        color: black;
      }
    }
  }
}