body, html {
  height: 100%;
}
.home-container {
  height: 92vh;
  background-image: url('../../pictures/stars.jpeg');

  .homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding: 0 30%;
    color: white;
  }
}
